<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Ruta no encontrada</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo siento, no existe la ruta actual.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>